.row{
	background-color: green ;
	height: 200px;
	border: 3px solid white;
  }
.a{
	background-color: green ;
	height: 200px;
	border: 3px solid white;
	text-align: 
	

}
.b{
	background-color: red ;
	height: 200px;
	border: 3px solid white;

}
.c{
	background-color: red ;
	height: 200px;
	border: 3px solid white;

}
.d{
	background-color: green ;
	height: 200px;
	border: 3px solid white;


}
.e{
	background-color: green;
	height: 200px;
	border: 3px solid white;

 
}
.f{
	background-color: green;
	height: 200px;
	border: 3px solid white;


}
.g{
	background-color: green;
	height: 200px;
	border: 3px solid white;

}
.h{
	background-color: green;
	height: 200px;
	border: 3px solid white;

}
.l{
	background-color: green;
	height: 200px;
	border: 3px solid white;

}